<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/asset/css/style.css">
    

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <div class="header-1">

        <a href="#" class="logo"> <i class="fas fa-book"></i> book </a>

        <form action="" class="search-form">
            
        </form>

        <div class="">
            
            <a href="/login" class="btn btn-primary">Login</a>
            
        </div>

    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#genre">Genre</a>
            <a href="#arrivals">arrivals</a>
           
        </nav>
    </div>

</header>

<!-- header section ends -->

<!-- bottom navbar  -->



<!-- login form  -->



<!-- home section starts  -->

<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Read Book</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
            <a href="#" class="btn">Join Now</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <% for(let i = 0; i < book.length; i++){ %>
                <a href="#" class="swiper-slide "><img class=""
                    src="http://localhost:8888/<%= book[i].imageUrl %>" alt=""></a>
                
                <% } %> 
            </div>
            <img src="/asset/image/stand.png" class="stand mt-1" alt="">
        </div>

    </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>free </h3>
            <p>Free banget</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure payment</h3>
            <p>100 secure payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy returns</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>call us anytime</p>
        </div>
    </div>

</section>

<!-- icons section ends -->


<!-- featured section ends -->

<!-- newsletter section starts -->


<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>new arrivals</span> </h1>

    <div class="swiper arrivals-slider">
        
        <div class="swiper-wrapper">
            <% for(let i = 0; i < book.length; i++){ %>
            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img class="img-fluid" src="http://localhost:8888/<%= book[i].imageUrl %>" alt="">
                </div>
                <div style="margin-top: -100px;" class="content">
                    <h3><%= book[i].name %></h3>
                    
                    
                   
                </div>
            </a>
            <% } %> 
            
        </div>

    </div>


</section>

<!-- arrivals section ends -->

<!-- deal section starts  -->



<!-- deal section ends -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading"> <span>Genre</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">
            <% for(let i = 0; i < category.length; i++){ %>
            <div class="swiper-slide box">
                <img src="http://localhost:8888/<%= category[i].imageUrl %>" alt="">
                <h3><%= category[i].name %></h3>
               
                
            </div>
            <% } %>
            

        </div>

    </div>
    
</section>

<!-- reviews section ends -->

<!-- blogs section starts  -->


<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">


</section>

<!-- footer section ends -->

<!-- loader  -->


















<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


<!-- custom js file link  -->
<script src="/asset/js/script.js"></script>

</body>
</html>